<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BillingCentre">
    
    
    <listeners>
        
        
        <listener class-name="Resources.CustomListeners"></listener>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    
    
  <test name="BillingCentreTest">
    <classes>
      
      <class name="Script.BillingCentre"/>
    </classes>
  </test> <!-- BillingCentre   Test -->
  
 
   
 


</suite> <!-- BillingCentre -->
