<?xml version="1.0"?>
<Settings>
  <Variables>{
  "PathID": "ljena",
  "PathPWD": "123tmnas^",
  "Base_Path": "C:\\QaCB\\PhlyMobile -Scenario2\\",
  "Root_Path": "C:\\QaCB\\",
  "datadriver_path": "C:\\QaCB\\PhlyMobile -Scenario2\\Data Driver\\Driver_PhlyMobile -Scenario2.xlsx",
  "Environment_path": "C:\\QaCB\\PhlyMobile -Scenario2\\Resources\\Environment.xlsx",
  "Report_path": "C:\\QaCB\\PhlyMobile -Scenario2\\Reports\\Driver_PhlyMobile -Scenario2.xlsx"
}</Variables>
</Settings>